<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:width="http://www.w3.org/1999/xhtml"
      xmlns:hight="http://www.w3.org/1999/xhtml">
<head>
    <title>良 艺</title>
    <!-- Bootstrap core CSS -->
    <link href="admins/css/bootstrap.min.css" rel="stylesheet">
    <link href="admins/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="admins/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="admins/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="admins/css/owl.carousel.css" type="text/css">
    <!--right slidebar-->
    <link href="admins/css/slidebars.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="admins/css/style.css" rel="stylesheet">
    <link href="admins/css/style-responsive.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="admins/js/html5shiv.js"></script>
    <script src="admins/js/respond.min.js"></script>
    <![endif]-->
</head>

<body th:onload="'javascript:loadCountUp('+${userCount}+','+${categoryCount}+','+${worksCount}+','+${vehicleViewCount}+')'">

<section id="container" >
    <!--header start-->
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a th:href="@{/login-allot}" class="logo">良<span>艺</span></a>

        <a class="logo">
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp&nbsp;&nbsp;
            良艺修理<span>日常管理系统
            </span>
        </a>

        <!--logo end-->

        <div class="top-nav ">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <!--<li>-->
                <!--<input type="text" class="form-control search" placeholder="Search">-->
                <!--</li>-->
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img th:src="'../update/portrait/'+${user.portraitUrl}" width="30px", hight="30px">
                        <span th:text="${user.name}" class="username" >Jhon Doue</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <div class="log-arrow-up"></div>
                        <li><a th:href="@{'/user/'+${user.userId}}" href="#"><i class=" fa fa-suitcase"></i>个人资料</a></li>
                        <!--<li><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li>-->
                        <li><a th:href="@{/logout}"><i class="fa fa-key"></i> 注销</a></li>
                    </ul>
                </li>
            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="/adminIndex">
                        <i class="fa fa-dashboard"></i>
                        <span>仪表盘</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{'/user/'+${user.userId}}">
                        <i class="fa fa-user"></i>
                        <span>个人资料</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-book"></i>
                        <span>用户管理</span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{user/list}">普通用户</a></li>
                        <li><a th:href="@{user/adminlist}" >管理员列表</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-th"></i>
                        <span>工具种类管理</span>
                    </a>
                    <ul class="sub">
                        <li><a  th:href="@{/category/list}">种类信息</a></li>
                        <li><a href="/category/addcategory?flag=1">增加工具种类</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-bar-chart-o"></i>
                        <span>工具管理</span>
                    </a>
                    <ul class="sub">
                        <li><a  th:href="@{/product/list}">工具列表</a></li>
                        <li><a  href="/product/addproduct?flag=1">增加工具</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-bar-chart-o"></i>
                        <span>员工管理</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="/employee/list">员工名单</a></li>
                        <li><a  href="/employee/addemployee?flag=1">增加人员</a></li>
                        <li><a  href="/employee/gradelist">员工工作评价（小本本）</a></li>
                        <li><a  href="/employee/addgrade?flag=1">添加员工工作评价</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-bar-chart-o"></i>
                        <span>业务管理</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="/work/worklist">业务清单</a></li>
                        <li><a  href="/work/addwork?flag=1">新增业务记录</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>收支管理</span>
                    </a>
                    <ul class="sub">
                        <li ><a  href="/salary/list">流水账单</a></li>
                        <li ><a  href="/salary/addsalary?flag=1">新增账目</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-bar-chart-o"></i>
                        <span>客户信息管理</span>
                    </a>
                    <ul class="sub">
                        <li ><a  href="/client/vehiclelist">车主人员信息</a></li>
                        <li ><a  href="/client/carslist">车辆基本信息</a></li>
                        <li><a  href="/client/addvehicle?flag=1">新增车主记录</a></li>
                        <li><a  href="/client/addcars?flag=1">新增车辆记录</a></li>
                    </ul>
                </li>

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!--state overview start-->
            <div class="row state-overview">
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol terques">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="value">
                            <h1 class="count">
                                0
                            </h1>
                            <p><a th:href="@{user/list}">管理员人数</a></p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol red">
                            <i class="fa fa-tags"></i>
                        </div>
                        <div class="value">
                            <h1 class=" count2">
                                0
                            </h1>
                            <p><a href="/category/list">工具具种类数</a></p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol yellow">
                            <i class="fa fa-tasks"></i>
                        </div>
                        <div class="value">
                            <h1 class=" count3">
                                0
                            </h1>
                            <p><a href="/work/worklist">业务数量</a></p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol blue">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="value">
                            <h1 class=" count4">
                                0
                            </h1>
                            <p><a href="/client/vehiclelist">客户数量</a></p>
                        </div>
                    </section>
                </div>
            </div>
            <!--state overview end-->

            <div class="row">
                <div class="col-lg-8">
                    <!--custom chart start-->
                    <div class="border-head">
                        <h3>商品种类数量图</h3>
                    </div>
                    <div class="custom-bar-chart">
                        <ul class="y-axis">
                            <li><span>10</span></li>
                            <li><span>8</span></li>
                            <li><span>6</span></li>
                            <li><span>4</span></li>
                            <li><span>2</span></li>
                        </ul>
                        <span th:each="category:${categoryList}">
                            <div class="bar">
                                <div class="title" th:text="${category.name}">JAN</div>
                                <div class="value tooltips" th:attr="data-original-title=${category.count}"
                                     data-toggle="tooltip" data-placement="top" th:text="${category.count*10}+'%'"></div>
                            </div>
                        </span>
                    </div>
                    <!--custom chart end-->
                </div>
                <div class="col-lg-4">
                    <!--latest product info start-->
                    <section class="panel post-wrap pro-box">
                        <aside>
                            <div class="post-info">
                                <span class="arrow-pro right"></span>
                                <div class="panel-body">
                                    <h1><strong>良艺</strong> <br> 修理厂</h1>
                                    <div class="desk yellow">
                                        <h3></h3>
                                        <h4>值得信赖的品质</h4>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </section>
                    <!--latest product info end-->
                    <!--features carousel start-->
                    <section class="panel">
                        <div class="flat-carousal">
                            <div id="owl-demo" class="owl-carousel owl-theme">
                                <div class="item">
                                    <h1>--点击进入用户管理功能--</h1>
                                    <div class="text-center">
                                        <a href="user/list" class="view-all">View All</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <h1>--点击进入业务管理功能--</h1>
                                    <div class="text-center">
                                        <a href="/work/worklist" class="view-all">View All</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <h1>--点击进入员工管理功能--</h1>
                                    <div class="text-center">
                                        <a href="/employee/list" class="view-all">View All</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <h1>--点击进入账单管理功能--</h1>
                                    <div class="text-center">
                                        <a href="/salary/list" class="view-all">View All</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul class="ft-link">
                                <li class="active">
                                    <a href="user/list">
                                        <i class="fa fa-user"></i>
                                        用户管理
                                    </a>
                                </li>
                                <li>
                                    <a href="/employee/list">
                                        <i class=" fa fa-tags"></i>
                                        员工管理
                                    </a>
                                </li>
                                <li>
                                    <a href="/work/worklist">
                                        <i class=" fa fa-tasks"></i>
                                        业务管理
                                    </a>
                                </li>
                                <li>
                                    <a href="/salary/list">
                                        <i class=" fa fa-bar-chart-o"></i>
                                        账单管理
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!--features carousel end-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <!--user info table start-->
                    <section class="panel">
                        <div class="panel-body">
                            <a href="#" class="task-thumb">
                                <img src="/admins/img/2222.jpg" width="40px" high="40px">
                            </a>
                            <div class="task-thumb-details">
                                <h1><a href="#">用户展示</a></h1>
                            </div>
                        </div>
                        <table class="table table-hover personal-task">
                            <tbody>
                            <tr>
                                <td>
                                    <i class=" fa fa-tasks"></i>
                                </td>
                                <td>普通用户</td>
                                <td th:text="${userCount}"> 02</td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-exclamation-triangle"></i>
                                </td>
                                <td>管理员</td>
                                <td th:text="${adminCount}"> 14</td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-envelope"></i>
                                </td>
                                <td>超级管理员</td>
                                <td th:text="${rootCount}"> 45</td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                    <!--user info table end-->
                </div>
                <div class="col-lg-8">
                    <!--work progress start-->
                    <section class="panel">
                        <div class="panel-body progress-panel">
                            <div class="task-progress">
                                <h1>账单数目</h1>
                                <p>账目类别及数量</p>
                            </div>
                        </div>
                        <table class="table table-hover personal-task">
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    支出
                                </td>
                                <td>
                                    <span class="badge bg-important" th:text="${order1}">75%</span>
                                </td>
                                <td>
                                    <div><a href="/salary/list">查看</a></div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    收入
                                </td>
                                <td>
                                    <span class="badge bg-success" th:text="${order2}">43%</span>
                                </td>
                                <td>
                                    <div><a href="/salary/list">查看</a></div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    总数量
                                </td>
                                <td>
                                    <span class="badge bg-info" th:text="${order3}">67%</span>
                                </td>
                                <td>
                                    <div><a href="/salary/list">查看</a></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                    <!--work progress end-->
                </div>
            </div>


        </section>
    </section>
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            三屯营良艺修理厂管理系统2020年建。
            <a href="#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="/admins/js/jquery.js"></script>
<script src="admins/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="admins/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="admins/js/jquery.scrollTo.min.js"></script>
<script src="admins/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="admins/js/jquery.sparkline.js" type="text/javascript"></script>
<script src="admins/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
<script src="admins/js/owl.carousel.js" ></script>
<script src="admins/js/jquery.customSelect.min.js" ></script>
<script src="admins/js/respond.min.js" ></script>
<!--right slidebar-->
<script src="/admins/js/slidebars.min.js"></script>
<!--common script for all pages-->
<script src="admins/js/common-scripts.js"></script>
<!--script for this page-->
<script src="admins/js/sparkline-chart.js"></script>
<script src="admins/js/easy-pie-chart.js"></script>
<script src="admins/js/count.js"></script>

<script>

    //owl carousel

    $(document).ready(function() {
        $("#owl-demo").owlCarousel({
            navigation : true,
            slideSpeed : 300,
            paginationSpeed : 400,
            singleItem : true,
            autoPlay:true

        });
    });

    //custom select box

    $(function(){
        $('select.styled').customSelect();
    });

    $(window).on("resize",function(){
        var owl = $("#owl-demo").data("owlCarousel");
        owl.reinit();
    });

</script>

</body>
</html>
