<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:width="http://www.w3.org/1999/xhtml"
      xmlns:hight="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="../admins/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="../admins/css/validator.css">
    <title>良艺</title>
    <!-- Bootstrap core CSS -->
    <link href="../admins/css/bootstrap.min.css" rel="stylesheet">
    <link href="../admins/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="../admins/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../admins/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../admins/css/owl.carousel.css" type="text/css">

    <link rel="stylesheet" href="../admins/assets/data-tables/DT_bootstrap.css" />
    <!--right slidebar-->
    <link href="../admins/css/slidebars.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="../admins/css/style.css" rel="stylesheet">
    <link href="../admins/css/style-responsive.css" rel="stylesheet" />

</head>

<body>

<section id="container" >
    <!--header start-->
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->

        <a th:href="@{/login-allot}" class="logo">良<span>艺</span></a>

        <a class="logo">
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp&nbsp;&nbsp;
            良艺修理<span>日常管理系统
            </span>
        </a>
        <div class="top-nav ">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img th:src="'../update/portrait/'+${user.portraitUrl}" width="30px", hight="30px">
                        <span th:text="${user.name}" class="username" >Jhon Doue</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <div class="log-arrow-up"></div>
                        <li><a th:href="@{'/user/'+${user.userId}}" href="#"><i class=" fa fa-suitcase"></i>个人资料</a></li>
                        <!--<li><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li>-->
                        <li><a th:href="@{/logout}"><i class="fa fa-key"></i> 注销</a></li>
                    </ul>
                </li>
            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="/adminIndex">
                        <i class="fa fa-dashboard"></i>
                        <span>仪表盘</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{'/user/'+${user.userId}}">
                        <i class="fa fa-user"></i>
                        <span>个人资料</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-book"></i>
                        <span>用户管理</span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/user/list}">普通用户</a></li>
                        <li><a th:href="@{/user/adminlist}" >管理员列表</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-th"></i>
                        <span>工具种类管理</span>
                    </a>
                    <ul class="sub">
                        <li><a  th:href="@{/category/list}">种类信息</a></li>
                        <li><a href="/category/addcategory?flag=1">增加工具种类</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-bar-chart-o"></i>
                        <span>工具管理</span>
                    </a>
                    <ul class="sub">
                        <li><a  th:href="@{/product/list}">工具列表</a></li>
                        <li><a  href="/product/addproduct?flag=1">增加工具</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" class="active" >
                        <i class="fa fa-bar-chart-o"></i>
                        <span>员工管理</span>
                    </a>
                    <ul class="sub">
                        <li ><a  th:href="@{/employee/list}">员工名单</a></li>
                        <li><a  href="/employee/addemployee?flag=1">增加人员</a></li>
                        <li class="active"><a  href="/employee/gradelist">员工工作评价（小本本）</a></li>
                        <li><a  href="/employee/addgrade?flag=1">添加员工工作评价</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-bar-chart-o"></i>
                        <span>业务管理</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="/work/worklist">业务清单</a></li>
                        <li><a  href="/work/addwork?flag=1">新增业务记录</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>收支管理</span>
                    </a>
                    <ul class="sub">
                        <li ><a  href="/salary/list">流水账单</a></li>
                        <li ><a  href="/salary/addsalary?flag=1">新增账目</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-bar-chart-o"></i>
                        <span>客户信息管理</span>
                    </a>
                    <ul class="sub">
                        <li ><a  href="/client/vehiclelist">车主人员信息</a></li>
                        <li ><a  href="/client/carslist">车辆基本信息</a></li>
                        <li><a  href="/client/addvehicle?flag=1">新增车主记录</a></li>
                        <li><a  href="/client/addcars?flag=1">新增车辆记录</a></li>
                    </ul>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            <!-- page start-->
            <section class="panel">
                <header class="panel-heading">
                    员工详细评价表
                </header>
                <div class="panel-body">
                    <div class="adv-table editable-table ">
                        <div class="space15"></div>

                        <div class="table-responsive">

                            <table class="table table-striped table-hover table-bordered" id="editable-sample">
                                <!--表头-->
                                <thead>
                                <p><a href="/employee/gradelist">返回上一页</a></p>
                                <tr>
                                    <th><i class="fa fa-bullhorn"></i>ID</th>
                                    <td th:text="${gradeView.gradeId}"></td>
                                </tr>
                                <tr>
                                    <th><i class="fa fa-question-circle"></i> 员工姓名</th>
                                    <td th:text="${gradeView.employeeName}"></td>
                                </tr>
                                <tr>
                                    <th><i class="fa fa-bookmark"></i> 员工评级</th>
                                    <td th:text="${gradeView.valuation}"></td>
                                </tr>
                                <tr>
                                    <th><i class="fa fa-bookmark"></i>具体评价</th>
                                    <td th:text="${gradeView.content}"></td>
                                </tr>
                                <tr>
                                    <th><i class="fa fa-bookmark"></i>创建时间</th>
                                    <td th:text="${gradeView.createTime.toLocaleString()}"></td>
                                </tr>
                                <tr>
                                    <th><i class="fa fa-bookmark"></i>最近更新时间</th>
                                    <td th:text="${gradeView.updateTime.toLocaleString()}"></td>
                                </tr>
                                <tr>
                                    <th><i class="fa fa-bookmark"></i>执行人</th>
                                    <td th:text="${gradeView.updateBy}"></td>
                                </tr>
                                <tr>
                                    <th><i class="fa fa-bookmark"></i>备注</th>
                                    <td th:text="${gradeView.remark}"></td>
                                </tr>
                                <tr>
                                    <th><i class="fa fa-question-circle"></i>操作</th>
                                    <td>
                                        <button class="btn btn-primary btn-xs">
                                            <a th:href="'/employee/modifigrade?flag=1&gradeId='+${gradeView.gradeId}"  class="fa fa-pencil" >
                                            </a>
                                        </button>
                                        <button class="btn btn-danger btn-xs" th:onclick="'javascript:deletef('+${gradeView.gradeId}+')'">
                                            <i class="fa fa-trash-o " ></i>
                                        </button>
                                    </td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>

    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            三屯营良艺修理厂管理系统2020年建。
            <a href="#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="../admins/js/jquery.js"></script>
<script src="../admins/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="../admins/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="../admins/js/jquery.scrollTo.min.js"></script>
<script src="../admins/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="../admins/js/jquery.sparkline.js" type="text/javascript"></script>
<script src="../admins/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
<script src="../admins/js/owl.carousel.js" ></script>
<script src="../admins/js/jquery.customSelect.min.js" ></script>
<script src="../admins/js/respond.min.js" ></script>
<script src="../admins/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="../admins/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../admins/assets/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="../admins/assets/data-tables/DT_bootstrap.js"></script>
<!--right slidebar-->
<script src="../admins/js/slidebars.min.js"></script>
<!--common script for all pages-->
<script src="../admins/js/common-scripts.js"></script>
<!--script for this page-->
<script src="../admins/js/sparkline-chart.js"></script>
<script src="../admins/js/easy-pie-chart.js"></script>
<script src="../admins/js/count.js"></script>
<!--script for this page only-->
<script src="../admins/js/editable-table.js"></script>

<script type="text/javascript">
    function deletef(id) {
        if (confirm("确实要删除吗?")) {
            location.href = "deletegrade?gradeId="+id;
            alert("已经删除！");
        } else {
            alert("已经取消了删除操作");
            return false;
        }
    }

</script>

</body>
</html>
