<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:width="http://www.w3.org/1999/xhtml"
      xmlns:hight="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="/favicon.ico">
    <title>良 艺</title>
    <!-- Bootstrap core CSS -->
    <link href="../admins/css/bootstrap.min.css" rel="stylesheet">
    <link href="../admins/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="../admins/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../admins/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../admins/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="../admins/assets/data-tables/DT_bootstrap.css" />
    <!--right slidebar-->
    <link href="../admins/css/slidebars.css" rel="stylesheet">
    <!-- Cutom styles for this template -->
    <link href="../admins/css/style.css" rel="stylesheet">
    <link href="../admins/css/style-responsive.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <script src="../admins/js/html5shiv.js"></script>
    <script src="../admins/js/respond.min.js"></script>

</head>

<body>

<section id="container" >
    <!--header start-->
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->

        <a th:href="@{/login-allot}" class="logo">良<span>艺</span></a>

        <a class="logo">
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp&nbsp;&nbsp;
            良艺修理<span>日常管理系统
            </span>
        </a>
        <div class="top-nav ">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img th:src="'../update/portrait/'+${user.portraitUrl}" width="30px", hight="30px">
                        <span th:text="${user.name}" class="username" >Jhon Doue</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <div class="log-arrow-up"></div>
                        <li><a th:href="@{'/user/'+${user.userId}}" href="#"><i class=" fa fa-suitcase"></i>个人资料</a></li>
                        <!--<li><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li>-->
                        <li><a th:href="@{/logout}"><i class="fa fa-key"></i> 注销</a></li>
                    </ul>
                </li>
            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="/adminIndex">
                        <i class="fa fa-dashboard"></i>
                        <span>仪表盘</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{'/user/'+${user.userId}}">
                        <i class="fa fa-user"></i>
                        <span>个人资料</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-book"></i>
                        <span>用户管理</span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/user/list}">普通用户</a></li>
                        <li><a th:href="@{/user/adminlist}" >管理员列表</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" class="active">
                        <i class="fa fa-th"></i>
                        <span>工具种类管理</span>
                    </a>
                    <ul class="sub">
                        <li class="active"><a  th:href="@{/category/list}">种类信息</a></li>
                        <li><a href="/category/addcategory?flag=1">增加工具种类</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-bar-chart-o"></i>
                        <span>工具管理</span>
                    </a>
                    <ul class="sub">
                        <li><a  th:href="@{/product/list}">工具列表</a></li>
                        <li><a  href="/product/addproduct?flag=1">增加工具</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-bar-chart-o"></i>
                        <span>员工管理</span>
                    </a>
                    <ul class="sub">
                        <li ><a  th:href="@{/employee/list}">员工名单</a></li>
                        <li><a  href="/employee/addemployee?flag=1">增加人员</a></li>
<!--                        <li><a  href="/product/list">员工考勤情况</a></li>-->
                        <li><a  href="/employee/gradelist">员工工作评价（小本本）</a></li>
                        <li><a  href="/employee/addgrade?flag=1">添加员工工作评价</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-bar-chart-o"></i>
                        <span>业务管理</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="/work/worklist">业务清单</a></li>
                        <li><a  href="/work/addwork?flag=1">新增业务记录</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>收支管理</span>
                    </a>
                    <ul class="sub">
                        <li ><a  href="/salary/list">流水账单</a></li>
                        <li ><a  href="/salary/addsalary?flag=1">新增账目</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-bar-chart-o"></i>
                        <span>客户信息管理</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="/product/list">车主人员信息</a></li>
                        <li><a  href="/product/list">车辆基本信息</a></li>
                        <li><a  href="/product/addproduct?flag=1">新增车主记录</a></li>
                    </ul>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            <!-- page start-->
            <section class="panel">
                <header class="panel-heading">
                    工具种类列表
                </header>
                <div class="panel-body">
                    <div class="adv-table editable-table ">

                        <div class="table-responsive">
                            <form id="categoroyForm" action="/category/modificategory" method="post" class="form-inline">
                                <table class="table table-striped table-advance table-hover ">
                                    <input type="hidden" name="flag" value="2">
                                    <input type="hidden" name="categoryId" th:value="${category.categoryId}">
                                    <!--表头-->
                                    <thead>
                                    <tr>
                                        <th><i class="fa fa-bullhorn"></i> ID</th>
                                        <th><i class="fa fa-question-circle"></i> 工具种类</th>
                                        <th><i class="fa fa-question-circle"></i> 状态</th>
                                        <th><i class="fa fa-bookmark"></i> 详细描述</th>
                                        <th><i class="fa fa-bookmark"></i>操作</th>
                                    </tr>
                                    </thead>
                                    <!-- 主体部分-->
                                    <tbody>
                                    <td th:text="${category.categoryId}"></td>
                                    <td>
                                        <div class="form-group">
                                            <input class="form-control" name="name" type="text" th:value="${category.name}" id="name" required>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select name="status" class="form-control" >
                                                <option th:if="${category.status}=='1'" th:text="激活" value="1"></option>
                                                <option th:if="${category.status}=='0'" th:text="未激活" value="0"></option>
                                                <option value="1">激活</option>
                                                <option value="0">未激活</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input class="form-control" name="remarks" type="text" th:value="${category.remarks}" id="remarks" required>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-success" id="updatebtn">修改</button>
                                        <button type="reset"  class="btn btn-danger"><a href="/category/list">取消</a></button>
                                    </td>
                                    </tbody>
                                    <!--主体部分结束-->
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <!--main content end-->


    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            三屯营良艺修理厂管理系统2020年建。
            <a href="#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="../admins/js/jquery.js"></script>
<script src="../admins/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="../admins/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="../admins/js/jquery.scrollTo.min.js"></script>
<script src="../admins/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="../admins/js/jquery.sparkline.js" type="text/javascript"></script>
<script src="../admins/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
<script src="../admins/js/owl.carousel.js" ></script>
<script src="../admins/js/jquery.customSelect.min.js" ></script>
<script src="../admins/js/respond.min.js" ></script>

<script src="../admins/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="../admins/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../admins/assets/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="../admins/assets/data-tables/DT_bootstrap.js"></script>
<!--right slidebar-->
<script src="../admins/js/slidebars.min.js"></script>

<!--common script for all pages-->
<script src="../admins/js/common-scripts.js"></script>

<!--script for this page-->
<script src="../admins/js/sparkline-chart.js"></script>
<script src="../admins/js/easy-pie-chart.js"></script>
<script src="../admins/js/count.js"></script>
<!--script for this page only-->
<script src="../admins/js/editable-table.js"></script>

<script type="text/javascript">
    $(function(){
        /** 商品种类表单提交 */

    });

    $("#updatebtn").click(function(){
        var name = $("#name");
        var remark = $("#remarks");
        var msg = "";
        if ($.trim(name.val()) == ""){
            msg = "种类名称不能为空！";
            name.focus();
        }else if ($.trim(remark.val()) == ""){
            msg = "详细描述不能为空！";
            remark.focus();
        }
        if (msg != ""){
            $.ligerDialog.error(msg);
            return false;
        }else{
            return true;
        }
        $("#categoryForm").submit();
    });
</script>

</body>
</html>
